extends ./_partial/layout.pug
block title
  if page.category
     title= page.category + " | " + config.title
  if page.tag
     title= page.tag + " | " + config.title
  if page.archive
     title= __('archive') + " | " + config.title

block content
  include ./_partial/post_header.pug
    ul.post-list(style='max-width:'+ theme.content_width +'px')
      div#tag
        alert(page)
